version: '2'

services:
  selenium:
    image: selenium/standalone-chrome-debug:3.4.0
    ports:
      - '5900:5900'
    links:
      - nginx:wen.com

  api:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/Dockerfile
    volumes:
      - ./client:/usr/src/app/client/
      - ./common:/usr/src/app/common/
      - ./scripts:/usr/src/app/scripts/
      - ./server:/usr/src/app/server/
      - ./static:/usr/src/app/static/
      - ./e2e:/usr/src/app/e2e/
      - ./chimp.js:/usr/src/app/chimp.js
      - ./package.json:/usr/src/app/package.json
      - ./jest.unit.json:/usr/src/app/jest.unit.json
      - ./jest.integration.json:/usr/src/app/jest.integration.json
      - ./.babelrc:/usr/src/app/.babelrc
      - ./.eslintrc:/usr/src/app/.eslintrc
      - ./.eslintignore:/usr/src/app/.eslintignore
    env_file: .env.dev
    command: yarn run watch:api

  static:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/Dockerfile
    volumes_from:
      - api
    env_file: .env.dev
    command: yarn run watch:static

  socket:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/Dockerfile
    volumes_from:
      - api
    env_file: .env.dev
    command: yarn run watch:socket

  nginx:
    ports:
      - '3000:3000'

  runner:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/Dockerfile
    volumes_from:
      - api
    env_file: .env.dev
    links:
      - selenium
    command: /bin/true

  postgres:
    env_file: .env.dev
    ports:
      - '5432:5432'

  redis:
    env_file: .env.dev
    ports:
      - '6379:6379'