version: '2'

services:
  selenium:
    image: selenium/standalone-chrome:3.4.0
    links:
      - nginx

  api:
    build:
      context: .
      dockerfile: ./dockerfiles/prod/Dockerfile
    env_file: .env.prod
    command: yarn run api

  static:
    build:
      context: .
      dockerfile: ./dockerfiles/prod/Dockerfile
    env_file: .env.prod
    command: yarn run static

  socket:
    build:
      context: .
      dockerfile: ./dockerfiles/prod/Dockerfile
    env_file: .env.prod
    command: yarn run socket

  runner:
    build:
      context: .
      dockerfile: ./dockerfiles/prod/Dockerfile
    env_file: .env.prod
    command: /bin/true
    links:
      - selenium

  nginx:
    ports:
      - '3000:3000'

  postgres:
    env_file: .env.prod
